<div id="player">
  <div id="current-step" class="well">
    <img {{bind-attr src="currentPracticeTechnique.technique.imageUrl"}} {{bind-attr class="currentPracticeTechniqueIsCompensation:is-compensation"}} >
  </div>
  <div id="next-step" class="well">
    <img {{bind-attr src="nextPracticeTechnique.technique.thumbUrl"}} {{bind-attr class="nextPracticeTechniqueIsCompensation:is-compensation"}} >
  </div>
  <div id="controls">
    <a {{ action 'prevStep' }} class="btn btn-default">Back</a>
    {{ countdown-timer value=timerValue action='completedTimer' }}
    <a {{ action 'nextStep' }} class="btn btn-default">Next</a>
  </div>
</div>